@page "/MenuAdmin"
@using MS.RoadFire.Business.Models
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage

<div class="home-background">
    <div class="admin-container">
        <div class="menu-grid">
            <MudButton Class="menu-btn" Variant="Variant.Filled" Color="Color.Warning">INGRESO Y SALIDA</MudButton>
            <MudButton Class="menu-btn" Variant="Variant.Filled" Color="Color.Warning">COMPRAS</MudButton>

            <MudButton Class="menu-btn" Variant="Variant.Filled" Color="Color.Warning">PROVEEDOR</MudButton>
            <MudButton Class="menu-btn" Variant="Variant.Filled" Color="Color.Warning">VENTAS</MudButton>

            <MudButton Class="menu-btn" Variant="Variant.Filled" Color="Color.Warning">INFORMES</MudButton>

            <!-- por ahora programar estos con el back -->
            <MudButton Class="menu-btn" Variant="Variant.Filled" Color="Color.Warning" OnClick="@IrAInventarios">
                INVENTARIOS
            </MudButton>

            <MudButton Class="menu-btn" Variant="Variant.Filled" Color="Color.Warning" OnClick="@IrAEmpleados">
                EMPLEADOS
            </MudButton>


            <MudButton Class="menu-btn" Variant="Variant.Filled" Color="Color.Warning">CLIENTE</MudButton>

            <!--por ahora programar estos con el back-->
            <MudButton Class="menu-btn" Variant="Variant.Filled" Color="Color.Warning" OnClick="@IrAUsuarios">
                USUARIOS
            </MudButton>
        </div>

        <div class="user-card">
            <div class="user-info">
                <h3>@(usuarioActual?.Username ?? "Usuario desconocido")</h3>

                <p>@fechaActual</p>

                <MudButton Variant="Variant.Filled" Color="Color.Dark" Class="logout-btn" OnClick="Logout">
                    CERRAR SESIÓN
                </MudButton>
            </div>
            <img src="/Imagenes/user.png" class="user-img" />
        </div>
    </div>
</div>

@inject NavigationManager Navigation
@inject ProtectedLocalStorage localStorage


@code {
    private UserDto? usuarioActual;

    protected override async Task OnInitializedAsync()
    {
        var result = await localStorage.GetAsync<UserDto>("usuarioActual");
        usuarioActual = result.Success ? result.Value : null;
    }

    private void Logout()
    {
        Navigation.NavigateTo("/");
    }

    private void IrAUsuarios()
    {
        Navigation.NavigateTo("/MenuUsuarios");
    }

    private void IrAInventarios()
    {
        Navigation.NavigateTo("/MenuInventario");
    }

    private void IrAEmpleados()
    {
        Navigation.NavigateTo("/GestionEmpleados");
    }

    private string fechaActual = DateTime.Now.ToString("dd/MM/yyyy");

}
